<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h3> HOME PAGE</h3>

<!--div>
    <form th:action="@{/login}" method="post">
        <h2 >Please sign in</h2>
        <label >User Name</label>
        <input type="text" name="username" th:field="*{username}" th:required="required" th:autofocus="autofocus"/>
        <br/>

        <label>Password</label>
        <input type="password" name="password" th:field="*{password}" th:required="required"/>
        <br/>

        <input type="submit" value="Login"/>
    </form>
</div-->




<p>
    <a href="/login">Login</a> or create one <a href="/user/list">User management</a>
</p>
</body>
</html>