<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Login </title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
</div>

<div>
    <form th:action="@{/login}" method="post">
        <h2 >Please sign in</h2>
        <label >User Name</label>
        <input type="text" name="username" th:required="required" th:autofocus="autofocus"/>
        <br/>

        <label>Password</label>
        <input type="password" name="password" th:required="required" />
        <br/>

        <input type="submit" value="Login"/>
    </form>
    <div>
        <a th:href="@{/oauth2/authorization/github}">Git Hub Login</a>
    </div>

</div>
</body>
</html>